* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 14px;
}

.title {
    font-family: Roboto;
    font-size: 41px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f9bf3b;
    text-align: center;
}

.simple .title_big {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 21px;
}

h1 {
    margin-top: 50px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    margin-top: 23px;
    padding: 0 13px;
    font-family: Roboto-Light;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.promo .promo_text span {
    font-weight: 700;
    color: #f9bf3b;
    font-family: Roboto-bold;
}

.promo .promo_btn {
    display: block;
    margin: 0px auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.23);
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more .more_text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 73px;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}

.finish .finish_header {
    color: white;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
    margin-top: 17px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
}


.waiting_wrapper .waiting_descr {
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: Roboto - Black;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #4a4a4a;
}

.optimization .optimization_text span {
    font-weight: bold;
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;

}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url(../img/bg/second_bg.png) center center/cover no-repeat;
}